*{
	margin: 0;
	padding: 0;
}
#contenedor{
	margin: 10px auto;
	width: 540px;
	height: 115px;
}
.reloj{
	float: left;
	font-size: 80px;
	font-family: Courier,sans-serif;
	color: #f8f7f5;
}
.boton{
	outline: none;
	border: 1px solid #363431;
	color: rgb(255, 255, 255);
	width: 128px;
	height: 30px;
	text-shadow: 0px -1px 1px black;
	font-size: 20px;
	border-radius: 5px;
	font-family: Helvetica;
	cursor: pointer;
	background-image: linear-gradient(#ad0202,#6f0505);
}
.boton:active{
	background-image: linear-gradient(#6f0505,#ad0202);
}
.boton:hover{
	box-shadow: 0px 0px 14px #ffffff;
}